/* start base.css */
h1,h2,h3,h4,h5,h6,pre,code,p {
	font-size: 1em;
}

dl,li,dt,dd,h1,h2,h3,h4,h5,h6,pre,form,body,html,p,blockquote,fieldset,input
	{
	margin: 0;
	padding: 0;
}

a img,:link img,:visited img {
	border: none;
}
/* end base.css */